.bg {
  display: grid;
  place-content: center;
  color: var(--text);
  font-family: "Prompt", sans-serif;
}
.main {
  border-radius: 3.125rem;
  background: var(--bg-card);
  width: 25.438rem;
  height: 40.25rem;
  overflow: hidden;
  position: relative;
}
.header {
  display: flex;
  margin: 2.313rem 0 0 2.063rem;
  gap: 1.25rem;
  align-items: center;
}
.name-user {
  font-weight: lighter;
  font-size: 1.5rem;
}
.logo-detail {
  border: solid 0.063rem var(--text);
  border-radius: 50%;
  height: 3.375rem;
  width: 3.438rem;
  padding: 0.563rem 0.75rem 0.438rem 0.75rem;
}
.logo {
  height: 2.25rem;
  width: 1.875rem;
}
.avatar-bg {
  border: solid 0.188rem var(--img-profile);
  border-radius: 50%;
  overflow: hidden;
  margin: 2.563rem 0 4.813rem 0;
  height: 23.125rem;
  width: 23.25rem;
  position: relative;
  left: 5.563rem;
}
.content-bg {
  background: linear-gradient(
    180deg,
    #000 3.65%,
    rgba(70, 69, 69, 0.72) 53.65%,
    rgba(62, 56, 56, 0.42) 100%
  );
  width: 12.188rem;
  height: 12.125rem;
  border-radius: 3.125rem;
  padding: 1.2rem 0 .513rem 1.25rem;
  position: absolute;
  top: 22rem;
  left: 1.313rem;
}
.content{
  display: grid;
  height: 100%;
}
.content li {
  display: flex;
  gap: 0.401rem;
  align-items: center;
}
.title-ft {
  font-weight: lighter;
  margin-right: 1rem;
  font-size: 1.188rem ;
  text-transform: uppercase;
}
.footer {
  display: flex;
  gap: 0.813rem;
  justify-content: end;
}
